<!doctype html>
<html>
<head>
 <meta charset="utf-8" />
 <title>動的な値</title>
 <link rel="stylesheet" href="/css/default.css" />
 <style>
  .left {
    margin-left:10%;
  }
 </style>
</head>


<body>
<h1>動的な値</h1>
<div class="menu" style="text-align:center;"><a href="/cgi">BACK</a></div>

<h2 class="left">template</h2>
<p class="left">(*template*)</p>
<br />

<h2 class="left">AppConf.ini</h2>
<table style="width:50%;">
 <tr><th>key</th><th>value</th></tr>
 <tr><td>host</td><td>(*host*)</td></tr>
 <tr><td>uid</td><td>(*uid*)</td></tr>
 <tr><td>pwd</td><td>(*pwd*)</td></tr>
 <tr><td>db</td><td>(*db*)</td></tr>
</table>

</body>
</html>
